body {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    background-color: #d4d1c0;
    color: #1e1e1e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body > * {
    background-color: #fefbe9;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    margin-bottom: 15px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* width: 100vw; */
    /* margin-top: 0; */
    /* border-radius: 0; */
}

img {
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

nav {
    margin: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li:before
{
    content: '\BB';
    margin: 0 1em;
}

a {
    color: cornflowerblue;
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: cornflowerblue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

